name: Trigger auto deployment for myfirstcontainer

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/myfirstcontainer-AutoDeployTrigger-22103b89-0640-40c4-b173-248c01be0ffe.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MYFIRSTCONTAINER_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MYFIRSTCONTAINER_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MYFIRSTCONTAINER_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: dockeracrdemo8255.azurecr.io
          registryUsername: ${{ secrets.MYFIRSTCONTAINER_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MYFIRSTCONTAINER_REGISTRY_PASSWORD }}
          containerAppName: myfirstcontainer
          resourceGroup: mydocker-rg
          imageToBuild: dockeracrdemo8255.azurecr.io/myfirstcontainer:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


